.serchPael {
    /*display: flex;*/
    margin: 2px;
    padding: 10px;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 2px;
}

.topvideo{
    padding: 20px;
    border: 1px solid rgba(121, 121, 121, 1);
    border-radius: 10px;
    /*left: 0px;*/
    /*top: 20px;*/
    /*font-size: 25px;*/
}
.topsecrch{
    width: 100%;
}

.addsearch{
    width:300%;
}
.searchbutton{
    margin-top: 7px;
}
.topfont{
    margin-top: 3px;
}

.addVideo{
    margin-top: 5px;
}

.contruct{
    display: none;
}

.deviceJQ{
    width: 150px;
}

.method1{
    position: relative;
    border: 1px solid #CCCCCC;
    border-radius:5px;
    padding: 20px;
    box-sizing: border-box;
}

.method1 .jbtitle{
    position: absolute;
    top: -1em;
    left: 10%;
    line-height: 2em;
    padding: 0 1em;
    background-color: #fff;
    color: #7ec2f3;

}


.method2{
    position: relative;
    border: 1px solid #CCCCCC;
    border-radius:5px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}


.method2 .lwtitle{
    position: absolute;
    color: #7ec2f3;
    top: -1em;
    left: 10%;
    line-height: 2em;
    padding: 0 1em;
    background-color: #fff;
}
:global #VideoComponet{
    padding: 10px 10px!important;
}

